@import "variables.less";
@import "mixins.less";

html {
  font-size: 62.7%;
  font-family: @font-base;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.left-block {
  float: left;
}

.right-block {
  float: right;
}