html {
  font-size: 62.7%;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.left-block {
  float: left;
}
.right-block {
  float: right;
}
