.wrapper
    main.main
        .main__description
            .container
                .row
                    .col-lg-12
                        h3.main__desctiption-title что включено
                        p Инструменты:
                        ul.main__description-list
                            li.main__description-list_item grunt - сам Grunt.js
                            li.main__description-list_item grunt-contrib-jade - шаблонизатор Jade и препроцессор HTML
                            li.main__description-list_item grunt-contrib-imagemin - сжатие картинок
                            li.main__description-list_item grunt-spritesmith - генерация спрайтов
                            li.main__description-list_item grunt-contrib-less - препроцессор LESS
                            li.main__description-list_item grunt-contrib-cssmin - минификация CSS
                            li.main__description-list_item grunt-contrib-concat - сборка JS
                            li.main__description-list_item grunt-contrib-uglify - минификация JS
                            li.main__description-list_item grunt-contrib-watch - слежение за проектом при разработке
                            li.main__description-list_item grunt-contrib-connect - локальный сервер
                        p Фреймворки и библиотеки:
                        ul.main__description-list
                            li.main__description-list_item Jquery
                            li.main__description-list_item Bootstrap 3
                            li.main__description-list_item Html5shiv
                            li.main__description-list_item Respond