.banner-block
    .container.container-slide
        .banner-block__text
            span.text__title Simple,Fresh & Unique Design
            span.text__description Donec posuere augue venenatis
            a.btn.btn-blue(href="#") show more
        .banner-block__text
            span.text__title Simple,Fresh & Unique Design
            span.text__description Donec posuere augue venenatis
            a.btn.btn-blue(href="#") show more
        .banner-block__text
            span.text__title Simple,Fresh & Unique Design
            span.text__description Donec posuere augue venenatis
            a.btn.btn-blue(href="#") show more
.wrapper
    .service-block
        .container
            .service-block__top-block
                h2.title What we offer
                span.description Vestibulum elementum ex ullamcorper ligula vulputate
            .service-block__bottom-block
                .bottom-block__item.bottom-block__item-tools
                    h4 Vivamus tincidunt
                    p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum
                        | elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper.
                        | Curabitur tellus ligula, laoreet vitae lectus vitae
                .bottom-block__item.bottom-block__item-basket
                    h4 Etiam porttitor sagittis ipsum
                    p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum
                        | elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper.
                        | Curabitur tellus ligula, laoreet vitae lectus vitae
                .bottom-block__item.bottom-block__item-layers
                    h4 Vivamus tincidunt diam a iaculis
                    p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum
                        | elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper.
                        | Curabitur tellus ligula, laoreet vitae lectus vitae
                .bottom-block__item.bottom-block__item-analytics
                    h4 Donec metus augue
                    p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum
                        | elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper.
                        | Curabitur tellus ligula, laoreet vitae lectus vitae
                .bottom-block__item.bottom-block__item-gauge
                    h4 Aliquam sed mollis
                    p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum
                        | elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper.
                        | Curabitur tellus ligula, laoreet vitae lectus vitae
                .bottom-block__item.bottom-block__item-globe
                    h4 Vestibulum placerat nisl quis
                    p Fusce velit magna, rutrum id pellentesque in, imperdiet rutrum neque. Vestibulum
                        | elementum ex ullamcorper ligula vulputate, non malesuada nisi ullamcorper.
                        | Curabitur tellus ligula, laoreet vitae lectus vitae
    .about-block
        .about-block__gallery.left-block.js-gallery
            img.gallery__image.img-responsive.js-gallery__image(src="images/person1.jpg")
            img.gallery__image.img-responsive.js-gallery__image(src="images/person2.jpg")
        .about-block__right-text.right-block
            .right-text__vertical-align
                h3 Who we are
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dui massa, condimentum a nisl quis,
                  |  tristique efficitur erat. Aenean ut suscipit urna. Donec efficitur tristique lobortis. Nullam eu
                  |  efficitur lacus, et blandit tellus. Mauris viverra condimentum tellus vitae sollicitudin. Mauris
                  |  quis mattis urna. Suspendisse auctor magna quis ipsum ultrices scelerisque. Vestibulum quis
                  |  hendrerit enim. Aenean viverra aliquam ex, sed ornare risus porta in.
                p Aenean ut suscipit urna. Donec efficitur tristique lobortis. Nullam eu efficitur lacus, et blandit
                  |  tellus. Mauris viverra condimentum tellus vitae sollicitudin. Mauris quis mattis urna. Suspendisse
                  |  auctor magna quis ipsum ultrices scelerisque. Vestibulum quis hendrerit enim. Aenean viverra aliquam
                  |  ex, sed ornare risus porta in.
                a.btn.btn-orange.btn-orange-indent(href="#") read more
    .portfolio-block
        .portfolio-block__white-block
            h2.title See our work
            span.bottom-icon
                i.icon.icon-cog
            span.white-block__description Mauris euismod ac nulla vitae fermentum. Morbi ut mauris massa. Sed condimentum elit volutpat turpis sagittis,
            span.white-block__description in scelerisque dui luctus. Nulla id suscipit velit, a maximus massa.
            ul.portfolio-block__list
                li.list__item
                    a.list__item-link.list__item-link-active(href="#") All
                li.list__item
                    a.list__item-link(href="#") Web
                li.list__item
                    a.list__item-link(href="#") Logo Design
                li.list__item
                    a.list__item-link(href="#") WordPress
                li.list__item
                    a.list__item-link(href="#") E-commerce
        .photo-block
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                   img.img-responsive(src="images/sunset.png")
                   .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/tree.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/waterfall.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/photo-bridge.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/rugby-player.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/statue.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/japanese.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress
            .photo-block__item
                a.photo-block__item-link.js-item-link(href="#")
                    img.img-responsive(src="images/bird.png")
                    .hover-block
                        .hover-text
                            i.icon.icon-shape
                            span.text-middle Labore et dolore magnam
                            span.text-bottom WordPress