header.header
    .container
        a.header__logotype(href="/") business name
        ul.header__nav-list
            li.nav-list__item
                a.nav-list__item-link(href="#") Home
            li.nav-list__item
                a.nav-list__item-link(href="#") Services
            li.nav-list__item
                a.nav-list__item-link(href="#") About
            li.nav-list__item
                a.nav-list__item-link(href="#") Portfolio
            li.nav-list__item
                a.nav-list__item-link(href="#") Testimonials
            li.nav-list__item
                a.nav-list__item-link(href="#") Contact