doctype html
html(lang="en")
    include ../includes/head
    body
        include ../includes/header
        include ../page/page
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js" defer)
        script(src="js/html5shiv.min.js")
        script(src="js/respond.min.js")
        script(src="js/app.min.js" defer)
