
.icon-cog:before { content: '\e800'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-angle-left:before { content: '\e802'; } /* '' */
.icon-chat-empty:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-copyright:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */
.icon-gauge:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\e80b'; } /* '' */
.icon-layers:before { content: '\e80c'; } /* '' */
.icon-analytics:before { content: '\e80d'; } /* '' */
.icon-tools:before { content: '\e80e'; } /* '' */
.icon-shape:before { content: '\e80f'; } /* '' */
.icon-person:before { content: '\e810'; } /* '' */